<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @content_manager.email %>
</p>

<%= link_to 'Edit', edit_content_manager_path(@content_manager) %> |
<%= link_to 'Back', content_managers_path %>
